openapi: 3.0.3
info:
  title: Guild Public API
  version: 1.0.0
  description: The Guild public API, served at https://api.guild.ai/v1 and authenticated
    with account API keys (HTTP Basic, key id as the username and the secret as the
    password). See https://docs.guild.ai/api-reference/introduction#scopes for scopes
    and behavior. A session-events websocket also exists at wss://api.guild.ai/v1/sessions/{session_id}/events/ws
    with the same Basic auth on the handshake; OpenAPI cannot describe websockets,
    so it is not listed in paths.
servers:
- url: https://api.guild.ai/v1
  description: Production
tags:
- name: accounts
- name: agents
- name: other
- name: sessions
- name: skills
- name: workspaces
paths:
  /accounts/{account_id_or_name}/skills:
    get:
      operationId: get_account_skills
      tags:
      - accounts
      security:
      - apiKey: []
      parameters:
      - name: account_id_or_name
        in: path
        required: true
        schema:
          type: string
      - name: sort_by
        in: query
        required: false
        schema:
          default: null
          description: Column name to sort by; prefix with '-' for descending order.
          title: Sort By
          nullable: true
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: search
        in: query
        required: false
        schema:
          default: null
          title: Search
          nullable: true
          type: string
      - name: archived
        in: query
        required: false
        schema:
          default: null
          title: Archived
          nullable: true
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Skill'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_account_skill
      tags:
      - accounts
      security:
      - apiKey: []
      parameters:
      - name: account_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  title: Name
                  type: string
                overview:
                  default: null
                  title: Overview
                  nullable: true
                  type: string
                is_public:
                  default: false
                  title: Is Public
                  type: boolean
                avatar_url:
                  default: null
                  title: Avatar Url
                  nullable: true
                  type: string
              required:
              - name
              title: CreateAccountSkillInput
              type: object
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{account_id_or_name}/workspaces:
    get:
      operationId: get_account_workspaces
      tags:
      - accounts
      security:
      - apiKey: []
      parameters:
      - name: account_id_or_name
        in: path
        required: true
        schema:
          type: string
      - name: sort_by
        in: query
        required: false
        schema:
          default: null
          description: Column name to sort by; prefix with '-' for descending order.
          title: Sort By
          nullable: true
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: archived
        in: query
        required: false
        schema:
          default: null
          title: Archived
          nullable: true
          type: boolean
      - name: filter
        in: query
        required: false
        schema:
          default: null
          title: Filter
          nullable: true
          type: string
      - name: search
        in: query
        required: false
        schema:
          default: null
          title: Search
          nullable: true
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-guild-response-model: WorkspaceList
  /agents:
    get:
      operationId: list_agents
      tags:
      - agents
      parameters:
      - name: sort_by
        in: query
        required: false
        schema:
          default: null
          description: Column name to sort by; prefix with '-' for descending order.
          title: Sort By
          nullable: true
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: search
        in: query
        required: false
        schema:
          default: null
          title: Search
          nullable: true
          type: string
      - name: fast
        in: query
        required: false
        schema:
          default: false
          title: Fast
          type: boolean
      - name: published_only
        in: query
        required: false
        schema:
          default: false
          title: Published Only
          type: boolean
      - name: is_public
        in: query
        required: false
        schema:
          default: false
          title: Is Public
          type: boolean
      - name: is_pinned
        in: query
        required: false
        schema:
          default: null
          title: Is Pinned
          nullable: true
          type: boolean
      - name: for_workspace
        in: query
        required: false
        schema:
          default: null
          title: For Workspace
          nullable: true
          type: string
      - name: tags
        in: query
        required: false
        schema:
          default: null
          title: Tags
          nullable: true
          type: string
      - name: categories
        in: query
        required: false
        schema:
          default: null
          title: Categories
          nullable: true
          type: string
      - name: agent_types
        in: query
        required: false
        schema:
          default: null
          title: Agent Types
          nullable: true
          type: string
      - name: owner
        in: query
        required: false
        schema:
          default: null
          title: Owner
          nullable: true
          type: string
      - name: contributor
        in: query
        required: false
        schema:
          default: null
          title: Contributor
          nullable: true
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_agent
      tags:
      - agents
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  title: Name
                  type: string
                description:
                  default: null
                  title: Description
                  nullable: true
                  type: string
                is_public:
                  default: false
                  title: Is Public
                  type: boolean
                avatar_url:
                  default: null
                  title: Avatar Url
                  nullable: true
                  type: string
                owner_id:
                  default: null
                  title: Owner Id
                  nullable: true
                  type: string
                maintainer_id:
                  default: null
                  title: Maintainer Id
                  nullable: true
                  format: uuid
                  type: string
                category:
                  default: null
                  title: Category
                  nullable: true
                  type: string
                tags:
                  default: null
                  title: Tags
                  nullable: true
                  items:
                    type: string
                  type: array
                forked_from_version:
                  default: null
                  title: Forked From Version
                  nullable: true
                  format: uuid
                  type: string
                template:
                  default: null
                  nullable: true
                  enum:
                  - LLM
                  - AUTO_MANAGED_STATE
                  - BLANK
                  - GOOSE
                  - GUILD_NATIVE
                  - OPENCLAW
                  - LANGGRAPH
                  - ADK
                  title: AgentCreationTemplate
                  type: string
              required:
              - name
              title: CreateAgentInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agents/{agent_id_or_name}:
    get:
      operationId: get_agent
      tags:
      - agents
      parameters:
      - name: agent_id_or_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agents/{agent_id_or_name}/configure-llm:
    post:
      operationId: configure_agent_llm
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: agent_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                system_prompt:
                  title: System Prompt
                  type: string
                description:
                  title: Description
                  type: string
                tools:
                  items:
                    $ref: '#/components/schemas/ConfigureLlmIntegrationToolsInput'
                  title: Tools
                  type: array
                guild_tools:
                  default: []
                  items:
                    type: string
                  title: Guild Tools
                  type: array
                mode:
                  default: one-shot
                  enum:
                  - one-shot
                  - multi-turn
                  title: Mode
                  type: string
                summary:
                  default: null
                  title: Summary
                  nullable: true
                  type: string
                version_number:
                  default: 1.0.0
                  title: Version Number
                  type: string
              required:
              - system_prompt
              - description
              - tools
              title: ConfigureAgentLlmInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agents/{agent_id_or_name}/versions:
    get:
      operationId: list_agent_versions
      tags:
      - agents
      parameters:
      - name: agent_id_or_name
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: type
        in: query
        required: false
        schema:
          default: null
          nullable: true
          enum:
          - EPHEMERAL
          - COMMITTED
          title: AgentVersionType
          type: string
      - name: statuses
        in: query
        required: false
        schema:
          default: null
          title: Statuses
          nullable: true
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentVersion'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_agent_version
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: agent_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                version_type:
                  $ref: '#/components/schemas/AgentVersionType'
                skip_validation:
                  default: false
                  title: Skip Validation
                  type: boolean
                publish:
                  default: false
                  title: Publish
                  type: boolean
                files:
                  default: null
                  title: Files
                  nullable: true
                  items:
                    $ref: '#/components/schemas/AgentVersionFile'
                  type: array
                bundle:
                  default: null
                  title: Bundle
                  nullable: true
                  type: string
                encoding:
                  default: null
                  title: Encoding
                  nullable: true
                  type: string
                commit_sha:
                  default: null
                  title: Commit Sha
                  nullable: true
                  type: string
                summary:
                  default: null
                  title: Summary
                  nullable: true
                  type: string
                version_number:
                  default: null
                  title: Version Number
                  nullable: true
                  type: string
              required:
              - version_type
              title: CreateAgentVersionInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me:
    get:
      operationId: get_public_me
      tags:
      - other
      security:
      - apiKey: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMe'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-guild-response-model: PublicMe
  /oauth/authorize:
    get:
      operationId: oauth_authorize_entry
      tags:
      - other
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth/register:
    post:
      operationId: oauth_register
      tags:
      - other
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: 'The RFC 7591 fields this server honors; any others a client
                sends are

                ignored, as the RFC allows.'
              properties:
                client_name:
                  maxLength: 128
                  minLength: 1
                  title: Client Name
                  type: string
                redirect_uris:
                  items:
                    type: string
                  maxItems: 5
                  minItems: 1
                  title: Redirect Uris
                  type: array
                token_endpoint_auth_method:
                  default: none
                  title: Token Endpoint Auth Method
                  type: string
                  enum:
                  - none
                grant_types:
                  default:
                  - authorization_code
                  - refresh_token
                  items:
                    enum:
                    - authorization_code
                    - refresh_token
                    type: string
                  title: Grant Types
                  type: array
                response_types:
                  default:
                  - code
                  items:
                    type: string
                    enum:
                    - code
                  title: Response Types
                  type: array
              required:
              - client_name
              - redirect_uris
              title: RegisterClientInput
              type: object
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth/token:
    post:
      operationId: oauth_token
      tags:
      - other
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sessions/{session_id}:
    get:
      operationId: gen_session
      tags:
      - sessions
      security:
      - apiKey: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sessions/{session_id}/events:
    get:
      operationId: gen_session_events
      tags:
      - sessions
      security:
      - apiKey: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: sort_by
        in: query
        required: false
        schema:
          default: null
          description: Column name to sort by; prefix with '-' for descending order.
          title: Sort By
          nullable: true
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: from_id
        in: query
        required: false
        schema:
          default: null
          title: From Id
          nullable: true
          type: string
      - name: types
        in: query
        required: false
        schema:
          default: null
          title: Types
          nullable: true
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_session_event
      tags:
      - sessions
      security:
      - apiKey: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/CreateTextSessionEventInput'
              - $ref: '#/components/schemas/CreateJsonSessionEventInput'
              - $ref: '#/components/schemas/CreateMultimodalSessionEventInput'
              - $ref: '#/components/schemas/CreateMultipartSessionEventInput'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sessions/{session_id}/runtimes:
    get:
      operationId: get_session_runtimes
      tags:
      - sessions
      security:
      - apiKey: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuntimeContainer'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /sessions/{session_id}/tasks:
    get:
      operationId: gen_session_tasks
      tags:
      - sessions
      security:
      - apiKey: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /skills/{skill_id_or_name}:
    get:
      operationId: get_skill
      tags:
      - skills
      security:
      - apiKey: []
      parameters:
      - name: skill_id_or_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-guild-response-model: SkillDetail
  /skills/{skill_id_or_name}/versions:
    post:
      operationId: create_skill_version
      tags:
      - skills
      security:
      - apiKey: []
      parameters:
      - name: skill_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                version_number:
                  title: Version Number
                  type: string
                description:
                  title: Description
                  type: string
                body:
                  maxLength: 262144
                  title: Body
                  type: string
              required:
              - version_number
              - description
              - body
              title: CreateSkillVersionInput
              type: object
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions/{version_id}:
    get:
      operationId: get_agent_version
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions/{version_id}/code:
    get:
      operationId: get_version_code
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions/{version_id}/publish:
    post:
      operationId: publish_agent_version
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                force_publish:
                  default: false
                  title: Force Publish
                  type: boolean
              title: PublishAgentVersionInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVersion'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions/{version_id}/publish/steps:
    get:
      operationId: list_publish_steps
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStep'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /versions/{version_id}/validation/steps:
    get:
      operationId: list_validation_steps
      tags:
      - agents
      security:
      - apiKey: []
      parameters:
      - name: version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStep'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspace_agents/{workspace_agent_id}/credential-associations:
    get:
      operationId: list_workspace_agent_credential_associations
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CredentialAssociation'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_workspace_agent_credential_association
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                auth_config_id:
                  format: uuid
                  title: Auth Config Id
                  type: string
                credentials_id:
                  format: uuid
                  title: Credentials Id
                  type: string
                replace:
                  default: false
                  description: 'Revoke the bindings that would block this one, in
                    the same transaction: either everything commits or nothing changes.
                    A dedicated key and a grant serving every member exclude each
                    other.'
                  title: Replace
                  type: boolean
              required:
              - auth_config_id
              - credentials_id
              title: CreateCredentialAssociationInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialAssociation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspace_agents/{workspace_agent_id}/credential-associations/{association_id}:
    delete:
      operationId: delete_workspace_agent_credential_association
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: association_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialAssociation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspace_agents/{workspace_agent_id}/credentials/api-key:
    post:
      operationId: connect_workspace_agent_api_key
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_agent_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: owner_id
        in: query
        required: true
        schema:
          title: Owner Id
          type: string
      - name: auth_config_id
        in: query
        required: true
        schema:
          format: uuid
          title: Auth Config Id
          type: string
      - name: event_id
        in: query
        required: false
        schema:
          default: null
          title: Event Id
          nullable: true
          type: string
      - name: replace
        in: query
        required: false
        schema:
          default: false
          description: 'Revoke the bindings that would block this one, in the same
            transaction: either everything commits or nothing changes. A dedicated
            key and a grant serving every member exclude each other.'
          title: Replace
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialAssociation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces:
    post:
      operationId: create_workspace
      tags:
      - workspaces
      security:
      - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  title: Name
                  type: string
                owner_id:
                  title: Owner Id
                  type: string
              required:
              - name
              - owner_id
              title: CreateWorkspaceInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces/{workspace_id_or_name}:
    get:
      operationId: get_workspace
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces/{workspace_id_or_name}/sessions:
    get:
      operationId: get_workspace_sessions
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: trigger_id
        in: query
        required: false
        schema:
          default: null
          title: Trigger Id
          nullable: true
          format: uuid
          type: string
      - name: types
        in: query
        required: false
        schema:
          default: null
          title: Types
          nullable: true
          type: string
      - name: origin
        in: query
        required: false
        schema:
          default: null
          nullable: true
          description: Which Smith surface started the chat; unset outside Smith workspaces.
          enum:
          - CHAT
          - INSIGHTS
          title: SmithSessionOrigin
          type: string
      - name: workspace_agent_id
        in: query
        required: false
        schema:
          default: null
          title: Workspace Agent Id
          nullable: true
          format: uuid
          type: string
      - name: include_archived
        in: query
        required: false
        schema:
          default: false
          title: Include Archived
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create_workspace_session
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Fields inferred from source; types not verified.
              properties:
                session_type: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces/{workspace_id_or_name}/triggers:
    post:
      operationId: create_trigger
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              discriminator:
                mapping:
                  api: '#/components/schemas/CreateApiTriggerBody'
                  time: '#/components/schemas/CreateTimeTriggerBody'
                  webhook: '#/components/schemas/CreateWebhookTriggerBody'
                propertyName: type
              oneOf:
              - $ref: '#/components/schemas/CreateWebhookTriggerBody'
              - $ref: '#/components/schemas/CreateTimeTriggerBody'
              - $ref: '#/components/schemas/CreateApiTriggerBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces/{workspace_id_or_name}/workspace_agents:
    get:
      operationId: get_workspace_agents
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      - name: sort_by
        in: query
        required: false
        schema:
          default: null
          description: Column name to sort by; prefix with '-' for descending order.
          title: Sort By
          nullable: true
          type: string
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          description: Maximum number of items to return.
          maximum: 1000
          minimum: 0
          title: Limit
          type: integer
      - name: offset
        in: query
        required: false
        schema:
          default: 0
          description: Number of items to skip before returning results.
          maximum: 9223372036854775807
          minimum: 0
          title: Offset
          type: integer
      - name: search
        in: query
        required: false
        schema:
          default: null
          title: Search
          nullable: true
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceAgent'
                  pagination:
                    type: object
                    properties:
                      total_count:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: add_workspace_agent
      tags:
      - workspaces
      security:
      - apiKey: []
      parameters:
      - name: workspace_id_or_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                agent_id:
                  format: uuid
                  title: Agent Id
                  type: string
                should_autoupdate:
                  default: true
                  title: Should Autoupdate
                  type: boolean
                is_default_chat_agent:
                  default: false
                  title: Is Default Chat Agent
                  type: boolean
                event_id:
                  default: null
                  title: Event Id
                  nullable: true
                  format: uuid
                  type: string
              required:
              - agent_id
              title: AddWorkspaceAgentInput
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAgent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Account:
      oneOf:
      - $ref: '#/components/schemas/Organization'
      - $ref: '#/components/schemas/User'
    AccountItem:
      description: 'An account as ``gen_serialize_account`` emits it. Users and

        organizations share the account pattern; ``email_domain`` appears only

        for organizations.'
      properties:
        id:
          format: uuid
          title: Id
          type: string
        entity_type:
          title: Entity Type
          type: string
        created_at:
          format: date-time
          title: Created At
          type: string
        updated_at:
          format: date-time
          title: Updated At
          type: string
        type:
          enum:
          - user
          - organization
          title: Type
          type: string
        name:
          title: Name
          type: string
        full_name:
          title: Full Name
          nullable: true
          type: string
        avatar_url:
          title: Avatar Url
          nullable: true
          type: string
        bio:
          title: Bio
          nullable: true
          type: string
        banner_url:
          title: Banner Url
          nullable: true
          type: string
        website_url:
          title: Website Url
          nullable: true
          type: string
        github_url:
          title: Github Url
          nullable: true
          type: string
        x_url:
          title: X Url
          nullable: true
          type: string
        linkedin_url:
          title: Linkedin Url
          nullable: true
          type: string
        discord_url:
          title: Discord Url
          nullable: true
          type: string
        youtube_url:
          title: Youtube Url
          nullable: true
          type: string
        threads_url:
          title: Threads Url
          nullable: true
          type: string
        cached_likes_public_count:
          title: Cached Likes Public Count
          type: integer
        cached_forks_public_count:
          title: Cached Forks Public Count
          type: integer
        cached_installs_public_count:
          title: Cached Installs Public Count
          type: integer
        email_domain:
          default: null
          title: Email Domain
          nullable: true
          type: string
      required:
      - id
      - entity_type
      - created_at
      - updated_at
      - type
      - name
      - full_name
      - avatar_url
      - bio
      - banner_url
      - website_url
      - github_url
      - x_url
      - linkedin_url
      - discord_url
      - youtube_url
      - threads_url
      - cached_likes_public_count
      - cached_forks_public_count
      - cached_installs_public_count
      title: AccountItem
      type: object
    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        agent_type:
          type: string
          enum:
          - GUILD_TYPESCRIPT
          - GUILD_NATIVE
          - GOOSE
          - OPENCLAW
          - LANGGRAPH
          - ADK
        description:
          type: string
          maxLength: 8192
          description: Manual description field. Can be empty; the effective description
            falls back to generated_description.
        is_public:
          type: boolean
          description: Whether the asset is visible to the community or only its owner.
        name:
          type: string
          maxLength: 100
          description: Unique name identifying the asset within the owner account.
        owner_id:
          type: string
          format: uuid
          description: The account that owns this entity.
        cached_forks_count:
          type: integer
          description: A cached version of the forks count. Might not be up to date.
        cached_installs_count:
          type: integer
          description: A cached version of the installs count. Might not be up to
            date.
        cached_likes_count:
          type: integer
          description: A cached version of the likes count. Might not be up to date.
        is_pinned:
          type: boolean
          description: If true, it means the agent is pinned on the owner's account's
            profile.
        moderation_state:
          type: string
          enum:
          - ACTIVE
          - DEMOTED
          - UNLISTED
          - DISABLED
          - TAKEN_DOWN
          description: Operator-controlled moderation/curation state. Owners cannot
            change this; only operators can, via the hub kebab menu or ops tooling.
        status:
          type: string
          enum:
          - CREATED
          - GIT_REPOSITORY_CREATED
          - READY
        archived_at:
          type: string
          format: date-time
          nullable: true
        archived_by_id:
          type: string
          format: uuid
          nullable: true
        avatar_url:
          type: string
          maxLength: 255
          nullable: true
        category_id:
          type: string
          format: uuid
          nullable: true
          description: The category this agent is sorted in.
        creation_template:
          type: string
          enum:
          - LLM
          - AUTO_MANAGED_STATE
          - BLANK
          - GOOSE
          - GUILD_NATIVE
          - OPENCLAW
          - LANGGRAPH
          - ADK
          nullable: true
          description: 'If applicable, the template that was selected during the creation
            of this agent. Note: it doesn''t mean the agent is still following the
            template now.'
        creator_id:
          type: string
          format: uuid
          nullable: true
          description: The user, agent or API key that created this agent. Null for
            legacy rows created before creator attribution was recorded.
        forked_from_id:
          type: string
          format: uuid
          nullable: true
          description: If applicable, the ID of the agent version this agent was forked
            from.
        generated_description:
          type: string
          maxLength: 8192
          nullable: true
          description: LLM-generated description based on agent code. Regenerated
            automatically on every commit.
        maintainer_id:
          type: string
          format: uuid
          nullable: true
          description: OPTIONAL. Refers to the person within an organization that
            is tasked with maintaining the agent.
        archived_by: {}
        category: {}
        creator: {}
        forks_count:
          type: integer
          description: Number of times this agent has been forked
        full_name:
          type: string
          description: Full agent name in format "owner_name/agent_name"
        git_url:
          type: string
          description: URL to the agent's git repository
        installs_count:
          type: integer
          description: Number of times this agent has been installed in workspaces
        is_description_autogenerated: {}
        last_updated_by: {}
        latest_published_version: {}
        latest_version: {}
        likes_count:
          type: integer
          description: Number of likes this agent has received
        maintainer:
          type: object
          nullable: true
          description: Maintainer of the agent (for organization-owned agents)
        owner:
          $ref: '#/components/schemas/Account'
        public_profile_url: {}
        type: {}
        viewer_can_edit:
          type: boolean
          description: Whether the current viewer can edit this agent
    AgentVersion:
      oneOf:
      - $ref: '#/components/schemas/AgentVersionCommitted'
      - $ref: '#/components/schemas/AgentVersionEphemeral'
    AgentVersionCommitted:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        agent_id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        validation_status:
          type: string
          enum:
          - SKIPPED
          - PENDING
          - RUNNING
          - PASSED
          - FAILED
        dependencies:
          type: object
          nullable: true
          description: npm package.json dependencies
        description:
          type: string
          maxLength: 8192
          nullable: true
          description: Description for the agent extracted from the agent code.
        env_references:
          type: array
          items: {}
          nullable: true
          description: Workspace variable keys referenced as {{env.KEY}} in the version's
            prompt, extracted at build time
        input_schema:
          type: object
          nullable: true
          description: JSON Schema from Zod input
        llm_models:
          type: array
          items: {}
          nullable: true
          description: 'Acceptable provider/model pairs from guild.yaml `models`,
            tried in order. An entry naming a model asks for exactly it; an entry
            naming only a provider lets the server pick. NULL means the agent declared
            none and runs on the session default. E.g. [{"provider": "ANTHROPIC",
            "model": "claude-sonnet-5"}, {"provider": "OPENAI"}]'
        output_schema:
          type: object
          nullable: true
          description: JSON Schema from Zod output
        published_at:
          type: string
          format: date-time
          nullable: true
        publishing_started_at:
          type: string
          format: date-time
          nullable: true
        raw_tools:
          type: array
          items: {}
          nullable: true
          description: Structured per-tool metadata. Each entry is a tool object discriminated
            by toolType (integration, legacy, agent, builtin).
        runtime_environment_id:
          type: string
          format: uuid
          nullable: true
        sha:
          type: string
          maxLength: 40
          nullable: true
          description: 'Git commit SHA (40-character hexadecimal). For agents: set
            on version creation. For integrations: set after code is stored in GitHub.'
        summary:
          type: string
          maxLength: 500
          nullable: true
          description: 'Commit message summary. For agents: set on version creation.
            For integrations: set after code is stored in GitHub.'
        tools:
          type: array
          items: {}
          nullable: true
        version_number:
          type: string
          maxLength: 100
          nullable: true
          description: The semantic version number (i.e., MAJOR.MINOR.PATCH) of this
            version
        agent: {}
        author: {}
        status: {}
        version_type: {}
    AgentVersionEphemeral:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        agent_id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        files:
          type: object
          description: 'The files for this version and their content. Format: {[key:
            filename]: content}'
        validation_status:
          type: string
          enum:
          - SKIPPED
          - PENDING
          - RUNNING
          - PASSED
          - FAILED
        dependencies:
          type: object
          nullable: true
          description: npm package.json dependencies
        description:
          type: string
          maxLength: 8192
          nullable: true
          description: Description for the agent extracted from the agent code.
        env_references:
          type: array
          items: {}
          nullable: true
          description: Workspace variable keys referenced as {{env.KEY}} in the version's
            prompt, extracted at build time
        input_schema:
          type: object
          nullable: true
          description: JSON Schema from Zod input
        llm_models:
          type: array
          items: {}
          nullable: true
          description: 'Acceptable provider/model pairs from guild.yaml `models`,
            tried in order. An entry naming a model asks for exactly it; an entry
            naming only a provider lets the server pick. NULL means the agent declared
            none and runs on the session default. E.g. [{"provider": "ANTHROPIC",
            "model": "claude-sonnet-5"}, {"provider": "OPENAI"}]'
        output_schema:
          type: object
          nullable: true
          description: JSON Schema from Zod output
        raw_tools:
          type: array
          items: {}
          nullable: true
          description: Structured per-tool metadata. Each entry is a tool object discriminated
            by toolType (integration, legacy, agent, builtin).
        runtime_environment_id:
          type: string
          format: uuid
          nullable: true
        tools:
          type: array
          items: {}
          nullable: true
        version_number:
          type: string
          maxLength: 100
          nullable: true
          description: The semantic version number (i.e., MAJOR.MINOR.PATCH) of this
            version
        agent: {}
        author: {}
        published_at: {}
        publishing_started_at: {}
        sha: {}
        status: {}
        summary: {}
        version_type: {}
    AgentVersionFile:
      properties:
        path:
          title: Path
          type: string
        content:
          title: Content
          type: string
      required:
      - path
      - content
      title: AgentVersionFile
      type: object
    AgentVersionType:
      enum:
      - EPHEMERAL
      - COMMITTED
      title: AgentVersionType
      type: string
    ApiKey:
      description: 'An account API key as every key-returning endpoint serializes
        it. The

        one-time secret is shown only in the creation response and never appears

        in this shape.'
      properties:
        id:
          format: uuid
          title: Id
          type: string
        entity_type:
          title: Entity Type
          type: string
        created_at:
          format: date-time
          title: Created At
          type: string
        updated_at:
          format: date-time
          title: Updated At
          type: string
        type:
          title: Type
          type: string
          enum:
          - account
        name:
          title: Name
          nullable: true
          type: string
        permissions:
          description: The key's scopes; write implies read.
          items:
            $ref: '#/components/schemas/ApiKeyScope'
          title: Permissions
          type: array
        owner:
          additionalProperties: true
          description: The account the key acts as (user or organization, item shape).
          title: Owner
          type: object
        created_by:
          additionalProperties: true
          description: The user who minted the key (item shape).
          title: Created By
          type: object
      required:
      - id
      - entity_type
      - created_at
      - updated_at
      - type
      - name
      - permissions
      - owner
      - created_by
      title: ApiKey
      type: object
    ApiKeyScope:
      properties:
        group:
          $ref: '#/components/schemas/ApiKeyScopeGroup'
        access:
          $ref: '#/components/schemas/ApiKeyScopeAccess'
      required:
      - group
      - access
      title: ApiKeyScope
      type: object
    ApiKeyScopeAccess:
      enum:
      - read
      - write
      title: ApiKeyScopeAccess
      type: string
    ApiKeyScopeGroup:
      enum:
      - agents
      - sessions
      - workspaces
      - skills
      - integrations
      - tool_call
      title: ApiKeyScopeGroup
      type: string
    ConfigureLlmIntegrationToolsInput:
      properties:
        integration:
          title: Integration
          type: string
        tools:
          items:
            type: string
          title: Tools
          type: array
      required:
      - integration
      - tools
      title: ConfigureLlmIntegrationToolsInput
      type: object
    CreateApiTriggerBody:
      properties:
        workspace_agent_id:
          format: uuid
          title: Workspace Agent Id
          type: string
        name:
          default: null
          title: Name
          nullable: true
          type: string
        type:
          title: Type
          type: string
          enum:
          - api
      required:
      - workspace_agent_id
      - type
      title: CreateApiTriggerBody
      type: object
    CreateJsonSessionEventInput:
      properties:
        agent_id:
          default: null
          title: Agent Id
          nullable: true
          type: string
        selected_skills:
          default: null
          title: Selected Skills
          nullable: true
          items:
            type: string
          type: array
        content:
          additionalProperties: true
          title: Content
          type: object
        mode:
          title: Mode
          type: string
          enum:
          - json
      required:
      - content
      - mode
      title: CreateJsonSessionEventInput
      type: object
    CreateMultimodalSessionEventInput:
      properties:
        agent_id:
          default: null
          title: Agent Id
          nullable: true
          type: string
        selected_skills:
          default: null
          title: Selected Skills
          nullable: true
          items:
            type: string
          type: array
        content:
          items:
            $ref: '#/components/schemas/_MultimodalContentPart'
          minItems: 1
          title: Content
          type: array
        mode:
          title: Mode
          type: string
          enum:
          - multimodal
      required:
      - content
      - mode
      title: CreateMultimodalSessionEventInput
      type: object
    CreateMultipartSessionEventInput:
      properties:
        agent_id:
          default: null
          title: Agent Id
          nullable: true
          type: string
        selected_skills:
          default: null
          title: Selected Skills
          nullable: true
          items:
            type: string
          type: array
        content:
          additionalProperties: true
          title: Content
          type: object
        mode:
          title: Mode
          type: string
          enum:
          - multipart
      required:
      - content
      - mode
      title: CreateMultipartSessionEventInput
      type: object
    CreateTextSessionEventInput:
      properties:
        agent_id:
          default: null
          title: Agent Id
          nullable: true
          type: string
        selected_skills:
          default: null
          title: Selected Skills
          nullable: true
          items:
            type: string
          type: array
        content:
          title: Content
          type: string
        mode:
          default: text
          title: Mode
          type: string
          enum:
          - text
      required:
      - content
      title: CreateTextSessionEventInput
      type: object
    CreateTimeTriggerBody:
      properties:
        workspace_agent_id:
          format: uuid
          title: Workspace Agent Id
          type: string
        name:
          default: null
          title: Name
          nullable: true
          type: string
        type:
          title: Type
          type: string
          enum:
          - time
        frequency:
          $ref: '#/components/schemas/TimeTriggerFrequency'
        agent_input:
          additionalProperties: true
          title: Agent Input
          type: object
        time_of_day:
          default: null
          title: Time Of Day
          nullable: true
          type: string
        days_of_month:
          default: null
          title: Days Of Month
          nullable: true
          type: string
        days_of_week:
          default: null
          title: Days Of Week
          nullable: true
          type: string
        minutes_of_hour:
          default: null
          title: Minutes Of Hour
          nullable: true
          type: string
        cron_expression:
          default: null
          title: Cron Expression
          nullable: true
          type: string
        cron_timezone:
          default: null
          title: Cron Timezone
          nullable: true
          type: string
      required:
      - workspace_agent_id
      - type
      - frequency
      - agent_input
      title: CreateTimeTriggerBody
      type: object
    CreateWebhookTriggerBody:
      properties:
        workspace_agent_id:
          format: uuid
          title: Workspace Agent Id
          type: string
        name:
          default: null
          title: Name
          nullable: true
          type: string
        type:
          title: Type
          type: string
          enum:
          - webhook
        webhook_config_id:
          format: uuid
          title: Webhook Config Id
          type: string
        event_type:
          default: null
          title: Event Type
          nullable: true
          type: string
        action:
          default: null
          title: Action
          nullable: true
          type: string
        service_config:
          default: null
          title: Service Config
          nullable: true
          additionalProperties: true
          type: object
        agent_input:
          default: null
          title: Agent Input
          nullable: true
          additionalProperties: true
          type: object
      required:
      - workspace_agent_id
      - type
      - webhook_config_id
      title: CreateWebhookTriggerBody
      type: object
    CredentialAssociation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        auth_config_id:
          type: string
          format: uuid
          description: Integration auth config this row applies to
        created_by_id:
          type: string
          format: uuid
          description: The user or API key that granted this credential to the agent.
        target_id:
          type: string
          format: uuid
          description: Workspace agent install receiving the credential; the association
            is scoped to this install's workspace. Account-wide availability is plain
            credential ownership with no association row.
        kind:
          type: string
          enum:
          - CONNECTED
          - GRANTED
          description: GRANTED = existing credential shared with the agent; CONNECTED
            = credential created for the agent (connect flow).
        credentials_id:
          type: string
          format: uuid
          nullable: true
          description: Linked credential row; null while OAuth connect is pending.
        integration: {}
        member_owned: {}
        owner: {}
        runs_as: {}
        workspace: {}
        workspace_agent_id: {}
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Event:
      oneOf:
      - $ref: '#/components/schemas/EventContainerLog'
      - $ref: '#/components/schemas/EventAgentConsole'
      - $ref: '#/components/schemas/EventAgentInstallRequest'
      - $ref: '#/components/schemas/EventAgentNotificationError'
      - $ref: '#/components/schemas/EventAgentNotificationMessage'
      - $ref: '#/components/schemas/EventAgentNotificationProgress'
      - $ref: '#/components/schemas/EventCredentialsRequest'
      - $ref: '#/components/schemas/EventInterrupted'
      - $ref: '#/components/schemas/EventLlmDone'
      - $ref: '#/components/schemas/EventLlmStart'
      - $ref: '#/components/schemas/EventRuntimeDone'
      - $ref: '#/components/schemas/EventRuntimeError'
      - $ref: '#/components/schemas/EventRuntimeRunning'
      - $ref: '#/components/schemas/EventRuntimeStart'
      - $ref: '#/components/schemas/EventRuntimeWaiting'
      - $ref: '#/components/schemas/EventSecurity'
      - $ref: '#/components/schemas/EventSystemError'
      - $ref: '#/components/schemas/EventSystemMessage'
      - $ref: '#/components/schemas/EventTriggerMessage'
      - $ref: '#/components/schemas/EventUserMessage'
    EventAgentConsole:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: string
        level:
          type: string
          enum:
          - DEBUG
          - INFO
          - WARN
          - ERROR
        task_id:
          type: string
          format: uuid
        type: {}
    EventAgentInstallRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        requested_agent_id:
          type: string
          format: uuid
          description: The agent requested to be installed
        task_id:
          type: string
          format: uuid
        installed_agent_id:
          type: string
          format: uuid
          nullable: true
          description: The workspace agent created when this request was fulfilled
        processed_at:
          type: string
          format: date-time
          nullable: true
          description: If the request has been declined, this is when it happened.
        processed_by_id:
          type: string
          format: uuid
          nullable: true
          description: The user who declined or accepted this request, if applicable.
        agent: {}
        installed_agent: {}
        is_fulfilled: {}
        requested_agent: {}
        type: {}
    EventAgentNotificationError:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        data: {}
        type: {}
    EventAgentNotificationMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        type: {}
    EventAgentNotificationProgress:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        type: {}
    EventContainerLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        task_id:
          type: string
          format: uuid
        level:
          type: string
          enum:
          - INFO
          - ERROR
          nullable: true
          description: 'Severity of the line: INFO for ordinary output, ERROR for
            error-level output. Nullable for now; pre-existing rows have no level.'
        message:
          type: string
          maxLength: 65536
        timestamp:
          type: string
          format: date-time
          description: When the line was produced in the container (not received)
        type: {}
    EventCredentialsRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        auth_config_id:
          type: string
          format: uuid
          description: The auth config this credentials should use
        task_id:
          type: string
          format: uuid
        is_fulfilled:
          type: boolean
          description: Indicates whether the request has been fulfilled. Skipped requests
            are also marked fulfilled (see skipped_at). If it is set to true, credentials
            is null, and skipped_at is null, it means the credentials has been deleted
            later.
        credentials_id:
          type: string
          format: uuid
          nullable: true
          description: The credentials created when this request was fulfilled
        skipped_at:
          type: string
          format: date-time
          nullable: true
          description: If the request was skipped, when it happened.
        skipped_by_id:
          type: string
          format: uuid
          nullable: true
          description: The user who skipped this request, if applicable.
        target_account_id:
          type: string
          format: uuid
          nullable: true
          description: The account the credentials should be installed in, if applicable.
            This is used by The Smith to request installs in other accounts.
        agent: {}
        integration: {}
        target_account: {}
        type: {}
    EventInterrupted:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        interrupted_at:
          type: string
          format: date-time
          description: Timestamp when the session was interrupted
        interrupted_by_id:
          type: string
          format: uuid
          description: User who interrupted the session
        task_id:
          type: string
          format: uuid
        interrupted_by: {}
        type: {}
    EventLlmDone:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        body:
          type: string
        headers:
          type: object
        llm_event_id:
          type: string
          format: uuid
        status_code:
          type: integer
        task_id:
          type: string
          format: uuid
        type: {}
    EventLlmStart:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        headers:
          type: object
        inference_provider_id:
          type: string
          format: uuid
        llm_provider:
          type: string
          enum:
          - ANTHROPIC
          - OPENAI
          - GEMINI
          - FAKE_LLM
          - META
          - DEEPSEEK
          - ALIBABA
          - MOONSHOT
          - ZAI
        payload:
          type: object
        task_id:
          type: string
          format: uuid
        llm_model:
          type: string
          maxLength: 100
          nullable: true
        inference_provider: {}
        model: {}
        model_publisher: {}
        type: {}
    EventRuntimeDone:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        type: {}
    EventRuntimeError:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: string
        task_id:
          type: string
          format: uuid
        stack:
          type: string
          nullable: true
        type: {}
    EventRuntimeRunning:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        task_id:
          type: string
          format: uuid
        type: {}
    EventRuntimeStart:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        type: {}
    EventRuntimeWaiting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        task_id:
          type: string
          format: uuid
        type: {}
    EventSecurity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        decision:
          type: string
          enum:
          - ALLOW
          - DENY
          - ERROR
          description: Security decision outcome.
        message:
          type: string
          maxLength: 1024
          description: Human-readable security event summary.
        operation:
          type: string
          maxLength: 255
          description: Integration operation or action evaluated.
        reason_code:
          type: string
          enum:
          - POLICY_DENIED
          - CREDENTIAL_UNAVAILABLE
          - PRIVILEGE_ESCALATION_DENIED
          - PLATFORM_ACCESS_DENIED
          - ACCESS_ALLOWED
          description: Stable machine code for why the decision occurred.
        task_id:
          type: string
          format: uuid
        acting_user_id:
          type: string
          format: uuid
          nullable: true
          description: Human acting on behalf of the task when the decision was recorded.
        capability:
          type: string
          maxLength: 32
          nullable: true
          description: Capability evaluated for this decision (read, write, delete,
            admin).
        credentials_id:
          type: string
          format: uuid
          nullable: true
          description: Credentials involved in the security decision when applicable.
        details:
          type: object
          nullable: true
          description: Optional structured audit context beyond task/session links.
        acting_user: {}
        credentials: {}
        integration: {}
        task: {}
        type: {}
    EventSystemError:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        details:
          type: object
          description: An arbitrary JSON object that stores details about the error.
        message:
          type: string
          maxLength: 65536
          description: A user-visible message that describes the error that occurred.
        task_id:
          type: string
          format: uuid
        content: {}
        data: {}
        type: {}
    EventSystemMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        data: {}
        type: {}
    EventTriggerMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        content:
          type: object
        task_id:
          type: string
          format: uuid
        data: {}
        type: {}
    EventUserMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author_id:
          type: string
          format: uuid
          description: 'Who sent this message: a user, or an account API key relaying
            a conversation on behalf of its account.'
        content:
          type: array
          items: {}
        task_id:
          type: string
          format: uuid
        author: {}
        content_parts: {}
        type: {}
    JobStep:
      type: object
      properties:
        id:
[...]
